<div class="container">
  <div class="row">
    <div class="col">
      <h1> This is the show view</h1>
      <h2> Trouvez un rendez-vous avec votre medecin </h2>
      <table>
        <thead>
          <tr>
            <th>Nom</th>
            <th>Note</th>
            <th>Addresse</th>
            <th>Numéro de Contact</th>
          </tr>
        </thead>

        <tbody>
          <%# @medical_cares est une collection d'objets MedicalCare %>
          <%# Vous utilisez une boucle pour itérer sur chaque objet de cette collection %>
          <% @medical_cares.each do |medical_care| %>
            <tr>
                  <%# À l'intérieur de la boucle, chaque objet individuel est référencé par une variable locale,
                  généralement appelée medical_care (ou n'importe quel autre nom que vous choisissez). %>
              <td><%= link_to medical_care.name, medical_care_path(medical_care) %></td>
              <td><%= medical_care.rating %></td>
              <td><%= medical_care.address %></td>
              <td><%= medical_care.phone %></td>
                  <%# Ici, medical_care est une variable locale dans le contexte de la boucle each.
                  C'est pourquoi vous n'avez pas besoin du symbole @ devant medical_care %>
            </tr>
          <% end %>
        </tbody>
      </table>
          <% if current_user.admin? %>
            <%= link_to "New Medical Care", new_admin_medical_care_path, class: "btn btn-primary" %>
          <% end %>

          <%= link_to "Home", root_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
