<h1>Medical Care Details</h1>
<%# @medical_care : Variable d'instance contenant une seule instance de MedicalCare,
utilisée dans l'action show et la vue associée %>

<p>
  <strong>Name:</strong>
  <%= @medical_care.name %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @medical_care.rating %>
</p>

<p>
  <strong>Address:</strong>
  <%= @medical_care.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @medical_care.phone %>
</p>

<%= link_to "Delete",
  medical_care_path(@medical_care),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>

<%= link_to "back", medical_cares_path %>
<%= link_to "edit", edit_medical_care_path %>
