<div class="container">
  <h1>Medical Care Details</h1>
  <%# @medical_care : Variable d'instance contenant une seule instance de MedicalCare %>

  <p>
    <strong>Name:</strong>
    <%= @medical_care.name %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= @medical_care.rating %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @medical_care.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @medical_care.phone %>
  </p>

  <% if current_user.admin? %>
    <%= link_to "Delete",
      admin_medical_care_path(@medical_care),
      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
      class: "btn btn-danger" %>

    <%= link_to "Edit", edit_admin_medical_care_path(@medical_care), class: "btn btn-primary" %>
  <% end %>

  <%= link_to "Back", medical_cares_path, class: "btn btn-secondary" %>

  <div class="review mt-5">
    <p><strong>Reviews</strong></p>
    <%= link_to "New Review", new_medical_care_review_path(@medical_care), class: "btn btn-secondary" %>
    <ul class="list-group mt-3">
      <% @medical_care.reviews.each do |review| %>
        <li class="list-group-item">
          <%= review.content %>
          <% if current_user.admin? %>
            <!-- Lien de suppression pour les admins -->
            <%= link_to 'Delete Review', admin_review_path(review), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
          <% elsif current_user == review.user %>
            <!-- Lien de suppression pour l'utilisateur propriétaire de la review -->
            <%= link_to "Delete", review_path(review), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
